<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'PRIVACY_POLICY.PRIVACY_POLICY' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only color="light" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="maxWidthContainer" *ngIf="section || app.section">
    <ion-list class="aList">
      <ion-list-header>
        {{ 'PRIVACY_POLICY.TITLE' | translate }}
      </ion-list-header>
      <p [innerHTML]="
          t.instant('PRIVACY_POLICY.TITLE_TEXT', {
            fullName: section.legalInfo.fullName,
            shortName: section.legalInfo.shortName,
            city: section.legalInfo.city,
            legalPlaceAddress: section.legalInfo.legalPlaceAddress,
            email: section.legalInfo.email,
            president: section.legalInfo.president
          })
        "></p>
    </ion-list>
    <ion-list class="aList">
      <ion-list-header>
        {{ 'PRIVACY_POLICY.SUBJECT' | translate }}
      </ion-list-header>
      <p [innerHTML]="
          t.instant('PRIVACY_POLICY.SUBJECT_TEXT', {
            fullName: section.legalInfo.fullName,
            shortName: section.legalInfo.shortName,
            city: section.legalInfo.city,
            legalPlaceAddress: section.legalInfo.legalPlaceAddress,
            email: section.legalInfo.email,
            president: section.legalInfo.president
          })
        "></p>
    </ion-list>
    <ion-list class="aList">
      <ion-list-header>
        {{ 'PRIVACY_POLICY.MODES' | translate }}
      </ion-list-header>
      <p [innerHTML]="
          t.instant('PRIVACY_POLICY.MODES_TEXT', {
            fullName: section.legalInfo.fullName,
            shortName: section.legalInfo.shortName,
            city: section.legalInfo.city,
            legalPlaceAddress: section.legalInfo.legalPlaceAddress,
            email: section.legalInfo.email,
            president: section.legalInfo.president
          })
        "></p>
    </ion-list>
    <ion-list class="aList">
      <ion-list-header>
        {{ 'PRIVACY_POLICY.COMMUNICATION' | translate }}
      </ion-list-header>
      <p [innerHTML]="
          t.instant('PRIVACY_POLICY.COMMUNICATION_TEXT', {
            fullName: section.legalInfo.fullName,
            shortName: section.legalInfo.shortName,
            city: section.legalInfo.city,
            legalPlaceAddress: section.legalInfo.legalPlaceAddress,
            email: section.legalInfo.email,
            president: section.legalInfo.president
          })
        "></p>
    </ion-list>
    <ion-list class="aList">
      <ion-list-header>
        {{ 'PRIVACY_POLICY.RIGHTS' | translate }}
      </ion-list-header>
      <p [innerHTML]="
          t.instant('PRIVACY_POLICY.RIGHTS_TEXT', {
            fullName: section.legalInfo.fullName,
            shortName: section.legalInfo.shortName,
            city: section.legalInfo.city,
            legalPlaceAddress: section.legalInfo.legalPlaceAddress,
            email: section.legalInfo.email,
            president: section.legalInfo.president
          })
        "></p>
    </ion-list>
    <ion-list class="aList">
      <ion-list-header>
        {{ 'PRIVACY_POLICY.DATA_REQUEST' | translate }}
      </ion-list-header>
      <p [innerHTML]="
          t.instant('PRIVACY_POLICY.DATA_REQUEST_TEXT', {
            fullName: section.legalInfo.fullName,
            shortName: section.legalInfo.shortName,
            city: section.legalInfo.city,
            legalPlaceAddress: section.legalInfo.legalPlaceAddress,
            email: section.legalInfo.email,
            president: section.legalInfo.president
          })
        "></p>
    </ion-list>
  </div>
</ion-content>