<ion-header class="ion-no-border">
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'ERS_EVENTS.REGISTER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="aList maxWidthContainer" *ngIf="event">
    <div class="ion-padding">
      <h2>{{ event.name }}</h2>
      <!-- <div class="medium-color ion-margin-top" *ngIf="event.description" [innerHTML]="event.description"></div> -->
    </div>
    <ion-radio-group [(ngModel)]="registration.spotId" *ngIf="event.spots?.length > 1">
      <ion-list-header [class.fieldHasError]="hasFieldAnError('spotId')">
        <ion-label>
          <h2>{{ 'ERS_EVENTS.SELECT_SPOT' | translate }}</h2>
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let spot of event.spots">
        <ion-label>
          <h3>{{ spot.name }}</h3>
          <p>{{ 'ERS_EVENTS.PRICE' | translate }}: {{ spot.price | currency:'EUR' }} | {{ 'ERS_EVENTS.SPOT_LIMIT' |
            translate }}:
            {{
            spot.limit }}</p>
        </ion-label>
        <ion-radio slot="start" [value]="spot.id"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <div *ngIf="event.spots?.length === 1">
      <ion-item [class.fieldHasError]="hasFieldAnError('spotId')">
        <ion-label>
          <h3>{{ event.spots[0].name }}</h3>
          <p>{{ 'ERS_EVENTS.PRICE' | translate }}: {{ event.spots[0].price | currency:'EUR' }}</p>
        </ion-label>
      </ion-item>
    </div>

    <ng-container *ngIf="event.optionalTickets?.length">
      <ion-list-header>
        <ion-label>
          <h2>{{ 'ERS_EVENTS.OPTIONAL_TICKETS' | translate }}</h2>
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let ticket of event.optionalTickets">
        <ion-label class="ion-text-wrap">
          <h3>{{ ticket.name }}</h3>
          <p *ngIf="ticket.description">{{ ticket.description }}</p>
          <p>{{ 'ERS_EVENTS.PRICE' | translate }}: {{ ticket.price | currency:'EUR' }}</p>
        </ion-label>
        <ion-checkbox slot="start" [checked]="isOptionalTicketSelected(ticket.id)"
          (ionChange)="toggleOptionalTicket(ticket.id)"></ion-checkbox>
      </ion-item>
    </ng-container>

    <ion-list-header>
      <ion-label>
        <h2>{{ 'ERS_EVENTS.PERSONAL_INFORMATION' | translate }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item [class.fieldHasError]="hasFieldAnError('selectedSectionName')">
      <ion-label position="stacked">{{ 'ERS_EVENTS.SECTION' | translate }} <span
          class="obligatoryDot">*</span></ion-label>
      <ion-select [(ngModel)]="registration.selectedSectionName"
        [placeholder]="'ERS_EVENTS.SELECT_SECTION' | translate">
        <ion-select-option [value]="registration.subject.section">
          {{ registration.subject.section }}
        </ion-select-option>
        <ion-select-option *ngFor="let name of registration.subject.additionalSectionNames" [value]="name">
          {{ name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [class.fieldHasError]="hasFieldAnError('subject.email')">
      <ion-label position="stacked">{{ 'ERS_EVENTS.EMAIL' | translate }} <span
          class="obligatoryDot">*</span></ion-label>
      <ion-input type="email" [(ngModel)]="registration.subject.email"
        [placeholder]="'ERS_EVENTS.EMAIL_PLACEHOLDER' | translate"></ion-input>
    </ion-item>
    <app-datetime-timezone [label]="'ERS_EVENTS.BIRTH_DATE' | translate" [obligatory]="true" presentation="date"
      [max]="now" [class.fieldHasError]="hasFieldAnError('subject.birthDate')" [timezone]="event.timezone"
      [(date)]="registration.subject.birthDate" />
    <ion-item [class.fieldHasError]="hasFieldAnError('subject.birthPlace')">
      <ion-label position="stacked">{{ 'ERS_EVENTS.BIRTH_PLACE' | translate }} <span
          class="obligatoryDot">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="registration.subject.birthPlace"
        [placeholder]="'ERS_EVENTS.BIRTH_PLACE_PLACEHOLDER' | translate"></ion-input>
    </ion-item>
    <ion-item [class.fieldHasError]="hasFieldAnError('subject.nationality')">
      <ion-label position="stacked">{{ 'ERS_EVENTS.NATIONALITY' | translate }} <span
          class="obligatoryDot">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="registration.subject.nationality"></ion-input>
    </ion-item>
    <ion-item [class.fieldHasError]="hasFieldAnError('subject.gender')">
      <ion-label position="stacked">{{ 'ERS_EVENTS.GENDER' | translate }} <span
          class="obligatoryDot">*</span></ion-label>
      <ion-select [(ngModel)]="registration.subject.gender" [placeholder]="'ERS_EVENTS.GENDER_PLACEHOLDER' | translate">
        <ion-select-option *ngFor="let option of Genders | keyvalue" [value]="option.value">
          {{ ('ERS_EVENTS.GENDER_' + option.key) | translate }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [class.fieldHasError]="hasFieldAnError('phone')">
      <ion-label position="stacked">{{ 'ERS_EVENTS.PHONE' | translate }} <span
          class="obligatoryDot">*</span></ion-label>
      <ion-input type="tel" [(ngModel)]="registration.subject.phone"
        [placeholder]="'ERS_EVENTS.PHONE_PLACEHOLDER' | translate"></ion-input>
    </ion-item>
    <ion-item [class.fieldHasError]="hasFieldAnError('homeAddress')">
      <ion-label position="stacked">{{ 'ERS_EVENTS.HOME_ADDRESS' | translate }} <span
          class="obligatoryDot">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="registration.homeAddress"
        [placeholder]="'ERS_EVENTS.HOME_ADDRESS_PLACEHOLDER' | translate"></ion-input>
    </ion-item>
    <ion-item [class.fieldHasError]="hasFieldAnError('esnCardNumber')">
      <ion-label position="stacked">{{ 'ERS_EVENTS.ESNCARD_NUMBER' | translate }} <span
          class="obligatoryDot">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="registration.esnCardNumber"
        [placeholder]="'ERS_EVENTS.ESNCARD_NUMBER_PLACEHOLDER' | translate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'ERS_EVENTS.PREFERRED_PRONOUNS' | translate }}</ion-label>
      <ion-select [(ngModel)]="registration.subject.preferredPronouns" [multiple]="true"
        [placeholder]="'ERS_EVENTS.PREFERRED_PRONOUNS_PLACEHOLDER' | translate">
        <ion-select-option *ngFor="let option of Pronouns | keyvalue" slot="start" [value]="option.value">
          {{ ('ERS_EVENTS.PREFERRED_PRONOUNS_' + option.key) | translate }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [class.fieldHasError]="hasFieldAnError('foodAllergies')">
      <ion-label position="stacked">{{ 'ERS_EVENTS.FOOD_ALLERGIES' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="registration.foodAllergies"
        [placeholder]="'ERS_EVENTS.FOOD_ALLERGIES_PLACEHOLDER' | translate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'ERS_EVENTS.SPECIAL_ASSISTANCE' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="registration.specialAssistance"
        [placeholder]="'ERS_EVENTS.SPECIAL_ASSISTANCE_PLACEHOLDER' | translate"></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label>
        <h2>{{ 'ERS_EVENTS.DOCUMENT' | translate }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item [class.fieldHasError]="hasFieldAnError('document.type')">
      <ion-label position="stacked">{{ 'ERS_EVENTS.DOCUMENT_TYPE' | translate }} <span
          class="obligatoryDot">*</span></ion-label>
      <ion-select [(ngModel)]="registration.document.type"
        [placeholder]="'ERS_EVENTS.DOCUMENT_TYPE_PLACEHOLDER' | translate">
        <ion-select-option *ngFor="let option of DocumentTypes | keyvalue" [value]="option.value">
          {{ ('ERS_EVENTS.DOCUMENT_TYPE_' + option.key) | translate }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [class.fieldHasError]="hasFieldAnError('document.number')">
      <ion-label position="stacked">{{ 'ERS_EVENTS.DOCUMENT_NUMBER' | translate }} <span
          class="obligatoryDot">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="registration.document.number"
        [placeholder]="'ERS_EVENTS.DOCUMENT_NUMBER_PLACEHOLDER' | translate"></ion-input>
    </ion-item>
    <app-datetime-timezone [label]="'ERS_EVENTS.DOCUMENT_ISSUED_DATE' | translate" [obligatory]="true"
      presentation="date" [max]="now" [class.fieldHasError]="hasFieldAnError('document.issuedDate')"
      [timezone]="event.timezone" [(date)]="registration.document.issuedDate" />
    <ion-item [class.fieldHasError]="hasFieldAnError('document.issuedBy')">
      <ion-label position="stacked">{{ 'ERS_EVENTS.DOCUMENT_ISSUED_BY' | translate }} <span
          class="obligatoryDot">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="registration.document.issuedBy"></ion-input>
    </ion-item>
    <app-datetime-timezone [label]="'ERS_EVENTS.DOCUMENT_VALID_UNTIL' | translate" [obligatory]="true"
      presentation="date" [min]="now" [class.fieldHasError]="hasFieldAnError('document.validUntil')"
      [timezone]="event.timezone" [(date)]="registration.document.validUntil" />

    <ion-list-header>
      <ion-label>
        <h2>{{ 'ERS_EVENTS.EMERGENCY_CONTACT' | translate }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item [class.fieldHasError]="hasFieldAnError('emergencyContact.name')">
      <ion-label position="stacked">{{ 'ERS_EVENTS.CONTACT_NAME' | translate }} <span
          class="obligatoryDot">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="registration.emergencyContact.name"></ion-input>
    </ion-item>
    <ion-item [class.fieldHasError]="hasFieldAnError('emergencyContact.relationship')">
      <ion-label position="stacked">{{ 'ERS_EVENTS.CONTACT_RELATIONSHIP' | translate }} <span
          class="obligatoryDot">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="registration.emergencyContact.relationship"
        [placeholder]="'ERS_EVENTS.CONTACT_RELATIONSHIP_PLACEHOLDER' | translate"></ion-input>
    </ion-item>
    <ion-item [class.fieldHasError]="hasFieldAnError('emergencyContact.phone')">
      <ion-label position="stacked">{{ 'ERS_EVENTS.CONTACT_PHONE' | translate }} <span
          class="obligatoryDot">*</span></ion-label>
      <ion-input type="tel" [(ngModel)]="registration.emergencyContact.phone"
        [placeholder]="'ERS_EVENTS.CONTACT_PHONE_PLACEHOLDER' | translate"></ion-input>
    </ion-item>
    <ion-item [class.fieldHasError]="hasFieldAnError('emergencyContact.spokenLanguages')">
      <ion-label position="stacked">{{ 'ERS_EVENTS.SPOKEN_LANGUAGES' | translate }} <span
          class="obligatoryDot">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="registration.emergencyContact.spokenLanguages"></ion-input>
    </ion-item>

    <ion-list-header *ngIf="hasVisibleQuestions">
      <ion-label>
        <h2>{{ 'ERS_EVENTS.QUESTIONS' | translate }}</h2>
      </ion-label>
    </ion-list-header>

    <ng-container *ngFor="let question of event.questions">
      <ng-container *ngIf="shouldShowQuestion(question)">
        <!-- Text -->
        <ion-item *ngIf="question.type === QuestionType.TEXT">
          <ion-label position="stacked">{{ question.text }} <span *ngIf="question.required"
              class="obligatoryDot">*</span></ion-label>
          <ion-textarea [(ngModel)]="registration.answers[question.id]"></ion-textarea>
        </ion-item>

        <!-- Radiobox -->
        <ion-radio-group *ngIf="question.type === QuestionType.RADIOBOX"
          [(ngModel)]="registration.answers[question.id]">
          <ion-list-header>
            <ion-label>{{ question.text }} <span *ngIf="question.required" class="obligatoryDot">*</span></ion-label>
          </ion-list-header>
          <ion-item *ngFor="let option of question.options">
            <ion-label>{{ option }}</ion-label>
            <ion-radio slot="start" [value]="option"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <!-- Checkbox -->
        <ng-container *ngIf="question.type === QuestionType.CHECKBOX">
          <ion-list-header>
            <ion-label>{{ question.text }} <span *ngIf="question.required" class="obligatoryDot">*</span></ion-label>
          </ion-list-header>
          <ion-item *ngFor="let option of question.options">
            <ion-label>{{ option }}</ion-label>
            <ion-checkbox slot="start" [checked]="isCheckboxChecked(question.id, option)"
              (ionChange)="toggleCheckbox(question.id, option)"></ion-checkbox>
          </ion-item>
        </ng-container>
        <!-- Date -->
        <app-datetime-timezone *ngIf="question.type === QuestionType.DATE" [label]="question.text"
          [obligatory]="question.required" [timezone]="event.timezone" presentation="date"
          [class.fieldHasError]="hasFieldAnError('answers[' + question.id + '] required')"
          [(date)]="registration.answers[question.id]" />
        <!-- Time -->
        <app-datetime-timezone *ngIf="question.type === QuestionType.TIME" [label]="question.text"
          [obligatory]="question.required" [timezone]="event.timezone" presentation="time"
          [class.fieldHasError]="hasFieldAnError('answers[' + question.id + '] required')"
          [(date)]="registration.answers[question.id]" />
      </ng-container>
    </ng-container>

    <ion-list-header>
      <ion-label>
        <h2>{{ 'ERS_EVENTS.PRIVACY_POLICY_LINK' | translate }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item [class.fieldHasError]="hasFieldAnError('privacyPolicyAccepted')">
      <ion-checkbox slot="start" [(ngModel)]="privacyPolicyAccepted"></ion-checkbox>
      <ion-label class="ion-text-wrap">
        {{ 'ERS_EVENTS.PRIVACY_POLICY_ACCEPT' | translate }}
        <a (click)="openPrivacyPolicy()">{{ 'ERS_EVENTS.PRIVACY_POLICY_LINK' | translate }}</a> <span
          class="obligatoryDot"> *</span>
      </ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>
        <h2>{{ 'ERS_EVENTS.CODE_OF_CONDUCT_LINK' | translate }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item lines="none" [class.fieldHasError]="hasFieldAnError('codeOfConductAccepted')">
      <ion-checkbox slot="start" [(ngModel)]="codeOfConductAccepted"></ion-checkbox>
      <ion-label class="ion-text-wrap">
        {{ 'ERS_EVENTS.CODE_OF_CONDUCT_ACCEPT' | translate }}
        <a (click)="app.openURL('https://wiki.esn.it/doku.php?id=documenti:codice-di-condotta')">{{
          'ERS_EVENTS.CODE_OF_CONDUCT_LINK' | translate }}</a> <span class="obligatoryDot"> *</span>
      </ion-label>
    </ion-item>

    <div class="ion-padding">
      <ion-button expand="block" (click)="submit()" class="ion-margin-top" [disabled]="!event.isRegistrationOpen()">
        {{ 'COMMON.SUBMIT' | translate }}
      </ion-button>
    </div>
  </ion-list>
</ion-content>