<ion-header class="ion-no-border">
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/t/events"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ERS_EVENTS.REGISTRATIONS' | translate }}</ion-title>
  </ion-toolbar>

  <ion-toolbar class="filtersBar" color="ideaToolbar">
    <ion-searchbar [(ngModel)]="searchTerm" [placeholder]="'ERS_EVENTS.SEARCH_REGISTRATIONS' | translate"
      (ionInput)="filter()"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-item lines="none" color="ideaToolbar" class="ion-hide-lg-down">
        <ion-select interface="popover" [(ngModel)]="filterBySpotId" (ionChange)="filter()"
          [placeholder]="'ERS_EVENTS.ALL_SPOTS' | translate">
          <ion-select-option [value]="null">{{ 'ERS_EVENTS.ALL_SPOTS' | translate }}</ion-select-option>
          <ion-select-option *ngFor="let spot of event?.spots" [value]="spot.id">{{ spot.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" color="ideaToolbar" class="ion-hide-lg-down">
        <ion-select interface="popover" [(ngModel)]="filterBySectionCode" (ionChange)="filter()"
          [placeholder]="'ERS_EVENTS.ALL_SECTIONS' | translate">
          <ion-select-option [value]="null">{{ 'ERS_EVENTS.ALL_SECTIONS' | translate }}</ion-select-option>
          <ion-select-option *ngFor="let section of availableSections" [value]="section.code">{{ section.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" color="ideaToolbar" class="ion-hide-lg-down">
        <ion-select interface="popover" [(ngModel)]="filterStatus" (ionChange)="filter()"
          [placeholder]="'ERS_EVENTS.ALL_STATUSES' | translate">
          <ion-select-option value="ALL">{{ 'ERS_EVENTS.ALL_STATUSES' | translate }}</ion-select-option>
          <ion-select-option [value]="RegistrationStatus.PENDING">{{ 'ERS_EVENTS.STATUS_PENDING' | translate }}
          </ion-select-option>
          <ion-select-option [value]="RegistrationStatus.APPROVED">{{ 'ERS_EVENTS.STATUS_APPROVED' | translate }}
          </ion-select-option>
          <ion-select-option [value]="RegistrationStatus.PAID">{{ 'ERS_EVENTS.STATUS_PAID' | translate }}
          </ion-select-option>
          <ion-select-option [value]="RegistrationStatus.CONFIRMED">{{ 'ERS_EVENTS.STATUS_CONFIRMED' | translate }}
          </ion-select-option>
          <ion-select-option [value]="RegistrationStatus.REJECTED">{{ 'ERS_EVENTS.STATUS_REJECTED' | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button *ngIf="filteredRegistrations?.length" fill="solid" color="ESNcyan" (click)="toggleAll()">
        <ion-icon [name]="selectedIds.size === filteredRegistrations.length ? 'checkbox' : 'square-outline'"
          slot="icon-only" *ngIf="app.isInMobileMode()"></ion-icon>
        <ion-text *ngIf="!app.isInMobileMode()">{{ 'ERS_EVENTS.TOGGLE_ALL' | translate }}</ion-text>
      </ion-button>
      <ion-button fill="solid" color="ESNpink" (click)="downloadCSV()">
        <ion-icon icon="download-outline" slot="icon-only" *ngIf="app.isInMobileMode()"></ion-icon>
        <ion-text *ngIf="!app.isInMobileMode()">{{ 'ERS_EVENTS.DOWNLOAD_REGISTRATIONS' | translate }}</ion-text>
      </ion-button>
      <ion-button *ngIf="selectedIds.size > 0" color="success" (click)="approveSelected()">
        <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
        {{ 'ERS_EVENTS.APPROVE_SELECTED' | translate }} ({{ selectedIds.size }})
      </ion-button>
      <ion-button *ngIf="selectedIds.size > 0" color="danger" (click)="rejectSelected()">
        <ion-icon name="close-circle-outline" slot="start"></ion-icon>
        {{ 'ERS_EVENTS.REJECT_SELECTED' | translate }} ({{ selectedIds.size }})
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="ion-padding" *ngIf="!filteredRegistrations">
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="filteredRegistrations?.length === 0" class="ion-text-center ion-padding">
    <p>{{ 'COMMON.NO_ELEMENT_FOUND' | translate }}</p>
  </div>

  <ion-list class="aList" *ngIf="filteredRegistrations?.length > 0">
    <!-- Mobile View -->
    <ng-container *ngIf="app.isInMobileMode()">
      <app-ers-registration *ngFor="let reg of filteredRegistrations" [registration]="reg" [event]="event"
        [selected]="isSelected(reg)" (select)="viewDetail(reg)" (toggleSelection)="toggleSelection(reg, $event)"
        (approve)="approve(reg)" (reject)="reject(reg)" (confirmPayment)="confirmPayment(reg)" />
    </ng-container>

    <!-- Desktop View -->
    <ion-grid *ngIf="!app.isInMobileMode()">
      <app-ers-registration *ngIf="!filteredRegistrations" [row]="true" />
      <app-ers-registration *ngIf="filteredRegistrations?.length" [row]="true" [header]="true" />
      <app-ers-registration *ngFor="let reg of filteredRegistrations" [registration]="reg" [event]="event" [row]="true"
        [selected]="isSelected(reg)" (select)="viewDetail(reg)" (toggleSelection)="toggleSelection(reg, $event)"
        (approve)="approve(reg)" (reject)="reject(reg)" (confirmPayment)="confirmPayment(reg)" />
    </ion-grid>
  </ion-list>
</ion-content>