<ion-header>
  <ion-toolbar color="ideaToolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ event?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="event?.canUserManage(app.user)" (click)="manage()">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="event" class="ion-padding">
    <h1>{{ event.name }}</h1>
    <p class="medium-color">
      {{ event.startAt | date: 'medium' }} - {{ event.endAt | date: 'medium' }}
    </p>
    <div *ngIf="event.imageURL" class="ion-text-center ion-margin-bottom">
      <img [src]="event.imageURL" [style.maxWidth]="!app.isInMobileMode() ? '900px' : '100%'" style="height: auto; width: auto;" />
    </div>

    <div *ngIf="event.description" [innerHTML]="event.description"></div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ 'ERS_EVENTS.REGISTRATION' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="myRegistration">
          <p>{{ 'ERS_EVENTS.ALREADY_REGISTERED' | translate }}</p>
          <p *ngIf="event.isRegistrationOpen()" class="medium-color ion-no-margin ion-margin-bottom">
            {{ 'ERS_EVENTS.REGISTRATION_CLOSES' | translate }} {{ event.registrationCloseAt | date: 'medium' }}
          </p>
          <p *ngIf="event.registrationCloseAt && event.registrationCloseAt < now"
            class="medium-color ion-no-margin ion-margin-bottom">
            {{ 'ERS_EVENTS.REGISTRATION_ENDED' | translate }}
          </p>
          <ion-button expand="block" (click)="viewRegistration()">{{ 'ERS_EVENTS.VIEW_MY_REGISTRATION' | translate
            }}</ion-button>
        </div>
        <div *ngIf="!myRegistration && event.isRegistrationOpen()">
          <p class="medium-color ion-margin-bottom">
            {{ 'ERS_EVENTS.REGISTRATION_CLOSES' | translate }} {{ event.registrationCloseAt | date: 'medium' }}
          </p>
          <ion-button expand="block" (click)="register()">{{ 'ERS_EVENTS.REGISTER_NOW' | translate }}</ion-button>
        </div>
        <div *ngIf="!myRegistration && !event.isRegistrationOpen()">
          <!-- Yet to open -->
          <p *ngIf="event.registrationOpenAt && event.registrationOpenAt > now" class="medium-color ion-margin-bottom">
            {{ 'ERS_EVENTS.REGISTRATION_NOT_OPEN_YET' | translate }}<br />
            {{ 'ERS_EVENTS.REGISTRATION_OPENS' | translate }} {{ event.registrationOpenAt | date: 'medium' }}
          </p>
          <!-- Already ended -->
          <p *ngIf="event.registrationCloseAt && event.registrationCloseAt < now"
            class="medium-color ion-margin-bottom">
            {{ 'ERS_EVENTS.REGISTRATION_ENDED' | translate }} ({{ event.registrationCloseAt | date: 'medium' }})
          </p>
          <!-- Fallback/Other cases -->
          <p *ngIf="(!event.registrationOpenAt || event.registrationOpenAt <= now) && (!event.registrationCloseAt || event.registrationCloseAt >= now)"
            class="medium-color">
            {{ 'ERS_EVENTS.REGISTRATION_CLOSED' | translate }}
          </p>
        </div>

        <div *ngIf="event.canUserManage(app.user)" class="ion-margin-top">
          <ion-button expand="block" fill="outline" (click)="viewRegistrations()">
            <ion-icon name="list-outline" slot="start"></ion-icon>
            {{ 'ERS_EVENTS.VIEW_REGISTRATIONS' | translate }}
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-list-header>
      <ion-label>
        <h2>{{ 'ERS_EVENTS.SPOTS' | translate }}</h2>
      </ion-label>
    </ion-list-header>
    <ion-list>
      <ion-item *ngFor="let spot of event.spots">
        <ion-label>
          <h3>{{ spot.name }}</h3>
          <p>{{ 'ERS_EVENTS.SPOT_PRICE' | translate }}: {{ spot.price }} | {{ 'ERS_EVENTS.SPOT_LIMIT' | translate }}: {{
            spot.limit }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>