<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'PRIVACY_POLICY.MODAL_TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">{{ 'COMMON.CLOSE' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="privacy-policy-content">
    <h2>{{ 'PRIVACY_POLICY.TITLE' | translate }}</h2>

    <p>{{ 'PRIVACY_POLICY.INTRO' | translate }}</p>

    <h3>{{ 'PRIVACY_POLICY.DATA_CONTROLLER_TITLE' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY.DATA_CONTROLLER_TEXT' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.DATA_CONTROLLER_CONTACTS' | translate }}</p>

    <h3>{{ 'PRIVACY_POLICY.DATA_ORIGIN_TITLE' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY.DATA_ORIGIN_TEXT_1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.DATA_ORIGIN_TEXT_2' | translate }}</p>

    <h3>{{ 'PRIVACY_POLICY.PURPOSE_TITLE' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY.PURPOSE_INTRO' | translate }}</p>

    <table>
      <thead>
        <tr>
          <th>{{ 'PRIVACY_POLICY.TABLE_DATA_TYPE' | translate }}</th>
          <th>{{ 'PRIVACY_POLICY.TABLE_PURPOSE' | translate }}</th>
          <th>{{ 'PRIVACY_POLICY.TABLE_LEGAL_BASIS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ 'PRIVACY_POLICY.TABLE_ROW1_DATA' | translate }}</td>
          <td>{{ 'PRIVACY_POLICY.TABLE_ROW1_PURPOSE' | translate }}</td>
          <td>
            <p>{{ 'PRIVACY_POLICY.TABLE_ROW1_LEGAL_1' | translate }}</p>
            <p>{{ 'PRIVACY_POLICY.TABLE_ROW1_LEGAL_2' | translate }}</p>
          </td>
        </tr>
        <tr>
          <td>{{ 'PRIVACY_POLICY.TABLE_ROW2_DATA' | translate }}</td>
          <td>{{ 'PRIVACY_POLICY.TABLE_ROW2_PURPOSE' | translate }}</td>
          <td>{{ 'PRIVACY_POLICY.TABLE_ROW2_LEGAL' | translate }}</td>
        </tr>
      </tbody>
    </table>

    <h3>{{ 'PRIVACY_POLICY.RECIPIENTS_TITLE' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY.RECIPIENTS_TEXT' | translate }}</p>

    <h3>{{ 'PRIVACY_POLICY.TRANSFER_TITLE' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY.TRANSFER_TEXT_1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.TRANSFER_TEXT_2' | translate }}</p>

    <h3>{{ 'PRIVACY_POLICY.PROCESSING_TITLE' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY.PROCESSING_TEXT' | translate }}</p>

    <h3>{{ 'PRIVACY_POLICY.DATA_PROVISION_TITLE' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY.DATA_PROVISION_TEXT_1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.DATA_PROVISION_TEXT_2' | translate }}</p>

    <h3>{{ 'PRIVACY_POLICY.RIGHTS_TITLE' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY.RIGHTS_TEXT' | translate }}</p>

    <h3>{{ 'PRIVACY_POLICY.DPO_TITLE' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY.DPO_TEXT' | translate }}</p>
  </div>
</ion-content>