.success-color {
    color: var(--ion-color-success);
    font-weight: bold;
}

.medium-color {
    color: var(--ion-color-medium);
}

.warning-color {
    color: var(--ion-color-warning);
}

ion-toolbar.filtersBar {

    ion-button,
    ion-label,
    ion-select {
        font-size: 0.9em;
    }

    ion-button {
        text-transform: none;
    }
}

ion-grid {
    padding: 0;
}