<ng-container *ngIf="!row">
  <ion-card *ngIf="event" button (click)="select.emit()">
    <ion-card-header>
      <ion-card-subtitle>{{ event.startAt | date: 'mediumDate' }}</ion-card-subtitle>
      <ion-card-title>{{ event.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Mobile Status -->
      <ion-badge *ngIf="event.isRegistrationOpen()" color="success">
        {{ 'ERS_EVENTS.REGISTRATION_OPEN' | translate }}
      </ion-badge>
      <ion-badge *ngIf="!event.isRegistrationOpen() && event.registrationOpenAt && event.registrationOpenAt > now"
        color="warning">
        {{ 'ERS_EVENTS.REGISTRATION_NOT_OPEN_YET' | translate }}
      </ion-badge>
      <ion-badge *ngIf="!event.isRegistrationOpen() && event.registrationCloseAt && event.registrationCloseAt < now"
        color="medium">
        {{ 'ERS_EVENTS.REGISTRATION_ENDED' | translate }}
      </ion-badge>
      <ion-badge *ngIf="!event.isRegistrationOpen() && event.registrationOpenAt && event.registrationOpenAt <= now && (!event.registrationCloseAt || event.registrationCloseAt >= now)"
        color="warning">
        {{ 'ERS_EVENTS.REGISTRATION_CLOSED' | translate }}
      </ion-badge>

      <div *ngIf="event.canUserManage(app.user)" class="ion-text-right">
        <ion-button fill="clear" size="small" (click)="viewRegs.emit($event)">
          <ion-icon name="list-outline" slot="start"></ion-icon>
          {{ 'ERS_EVENTS.VIEW_REGISTRATIONS' | translate }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- skeleton -->
  <ion-card *ngIf="!event">
    <ion-card-header>
      <ion-card-subtitle><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></ion-card-subtitle>
      <ion-card-title><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</ng-container>

<!-- row -->
<ng-container *ngIf="row">
  <ion-row class="ion-align-items-center headerRow" *ngIf="header">
    <ion-col [sizeLg]="4" [sizeXl]="4">{{ 'ERS_EVENTS.EVENT' | translate }}</ion-col>
    <ion-col [sizeLg]="2" [sizeXl]="2">{{ 'ERS_EVENTS.TYPE' | translate }}</ion-col>
    <ion-col [sizeLg]="2" [sizeXl]="2">{{ 'ERS_EVENTS.START_AT' | translate }}</ion-col>
    <ion-col [sizeLg]="2" [sizeXl]="2">{{ 'ERS_EVENTS.END_AT' | translate }}</ion-col>
    <ion-col [sizeLg]="2" [sizeXl]="2">{{ 'ERS_EVENTS.STATUS' | translate }}</ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center row tappable" *ngIf="!header && event" (click)="select.emit()">
    <ion-col [sizeLg]="4" [sizeXl]="4">
      <b>{{ event.name }}</b>
    </ion-col>
    <ion-col [sizeLg]="2" [sizeXl]="2">
      <span *ngIf="event.type">{{ 'ERS_EVENTS.TYPE_' + (event.type | uppercase) | translate }}</span>
    </ion-col>
    <ion-col [sizeLg]="2" [sizeXl]="2">
      {{ event.startAt | date: 'mediumDate' }}
    </ion-col>
    <ion-col [sizeLg]="2" [sizeXl]="2">
      {{ event.endAt | date: 'mediumDate' }}
    </ion-col>
    <ion-col [sizeLg]="2" [sizeXl]="2">
      <!-- Desktop Status -->
      <ion-badge *ngIf="event.isRegistrationOpen()" color="success">
        {{ 'ERS_EVENTS.REGISTRATION_OPEN' | translate }}
      </ion-badge>
      <ion-badge *ngIf="!event.isRegistrationOpen() && event.registrationOpenAt && event.registrationOpenAt > now"
        color="warning">
        {{ 'ERS_EVENTS.REGISTRATION_NOT_OPEN_YET' | translate }}
      </ion-badge>
      <ion-badge *ngIf="!event.isRegistrationOpen() && event.registrationCloseAt && event.registrationCloseAt < now"
        color="medium">
        {{ 'ERS_EVENTS.REGISTRATION_ENDED' | translate }}
      </ion-badge>
    </ion-col>
  </ion-row>

  <!-- skeleton -->
  <ion-row class="ion-align-items-center row" *ngIf="!header && !event">
    <ion-col [sizeLg]="4" [sizeXl]="4"><ion-skeleton-text animated></ion-skeleton-text></ion-col>
    <ion-col [sizeLg]="2" [sizeXl]="2"><ion-skeleton-text animated></ion-skeleton-text></ion-col>
    <ion-col [sizeLg]="2" [sizeXl]="2"><ion-skeleton-text animated></ion-skeleton-text></ion-col>
    <ion-col [sizeLg]="2" [sizeXl]="2"><ion-skeleton-text animated></ion-skeleton-text></ion-col>
    <ion-col [sizeLg]="2" [sizeXl]="2"><ion-skeleton-text animated></ion-skeleton-text></ion-col>
  </ion-row>
</ng-container>