<html>

<body>
  Hello
  {{user}},<br />
  we have received your registration for <strong>{{eventName}}</strong>.<br /><br />
  We will review it and get back to you soon regarding your spot.<br /><br />
  Thank you for your patience!
</body>

</html>