<html>

<body>
  Hello
  {{user}},<br />
  we are sorry to inform you that your registration for <strong>{{eventName}}</strong> was not accepted at this
  time.<br /><br />
  If you have any questions, please don't hesitate to contact us.
</body>

</html>