<html>

<body>
  Hello
  {{user}},<br />
  good news! Your spot for <strong>{{eventName}}</strong> has been approved.<br /><br />
  Please go to your <a href="{{registrationUrl}}">registration</a>, download the invoice, proceed with the payment and upload your proof on the app.
</body>

</html>