<html>

<body>
  Hello {{user}},<br />
  the status of your registration for <strong>{{eventName}}</strong> has been changed to <strong>{{status}}</strong>.<br /><br />
  If you have any questions, please don't hesitate to contact us.
</body>

</html>
