<html>

<body>
  Hello
  {{user}},<br />
  your spot type for <strong>{{eventName}}</strong> has been changed to <strong>{{spotName}}</strong>.<br /><br />
  If you have any questions, please don't hesitate to contact us.
</body>

</html>
