<html>

<body>
  Hello
  {{user}},<br />
  good news! Your spot for <strong>{{eventName}}</strong> has been approved.<br /><br />
  Please proceed with payment:<br />
  <pre>{{paymentInfo}}</pre><br />
  After paying, please upload your receipt in the system.
</body>

</html>